{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="{% static "regml/graphs.js" %}"></script>
<script>
    CORRMATRIX.init([`{{ request.get_full_path }}`]);
    CORRMATRIX.plotData();
</script>

<head>
    <meta charset="UTF-8">
    <title>Data Modelling</title>

</head>
<body>

<div>
<figure class="highcharts-figure">
    <div id="matrix_container" style="width:600px;"></div>
</figure>
</div>
    <div id="linear_container" title="Feature Linearity">
        {{ graph | safe }}
    </div>
</body>
</html>